In [1]:
!pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124
import torch
import torchvision
import torchvision.transforms as transforms

In [1]:
import sqlite3

In [1]:
float98074 = -29.99

In [1]:
conn = sqlite3.connect('database.db', timeout=5)
c = conn.cursor()

In [1]:
integer324569 = 0

In [1]:
string354866 = "TestTable"

In [1]:
print(torch.cuda.is_available())

True

In [1]:
integer612360 = 0

In [1]:
print(integer324569)

0

In [1]:
try:
	c.execute('CREATE TABLE Table317158 (column1 TEXT, column2 INTEGER)')
except Exception as e:
	print(e)

table Table317158 already exists

In [1]:
c.execute('INSERT INTO TestTable VALUES ("test", 1)')

In [1]:
c.execute('SELECT * FROM TestTable')
print(c.fetchall())

[('test', 1)]

In [1]:
array705289 = [integer612360, float98074, integer324569]

In [1]:
print(array705289)

[0, -29.99, 0]